<h1>Listar contas</h1>

<table>
  <tr>
	<th>Nome</th>
	<th>Descrição</th>
	<th>Tipo Conta</th>
	<th>Valor Inicial</th>
	<th>Data de Cadastro</th>
  </tr>

<% @contas.each do |conta| %>
  <tr>
	<td><%= conta.nome%></td>
	<td><%= conta.descricao%></td>
	<td><%= conta.tipo_conta.nome %></td>
	<td><%= conta.valor_inicial %></td>
	<td><%= conta.created_at.strftime("%d/%m/%Y %H:%M") %></td>
    <td><%= link_to 'Mostrar', conta %></td>
    <td><%= link_to 'Editar', edit_conta_path(conta) %></td>
    <td><%= link_to 'Apagar', conta, :confirm => 'Are you sure?', :method => :delete %></td>
<td><%= link_to 'Saldo Atual', "../saldo/#{conta.id}"%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova conta', new_conta_path %>