<h1>Listing lancamentos</h1>

<table>
  <tr>
    <th>Valor</th>
    <th>Data</th>
    <th>Descricao</th>
    <th>Tipo lancamento</th>
    <th>Conta</th>
    <th>Credito debito</th>
  </tr>

<% @lancamentos.each do |lancamento| %>
  <tr>
    <td><%=h lancamento.valor %></td>
    <td><%=h lancamento.data %></td>
    <td><%=h lancamento.descricao %></td>
    <td><%=h lancamento.tipo_lancamento.nome %></td>
    <td><%=h lancamento.conta.nome %></td>
    <td><%=h lancamento.credito_debito_desc %></td>
    <td><%= link_to 'Show', lancamento %></td>
    <td><%= link_to 'Edit', edit_lancamento_path(lancamento) %></td>
    <td><%= link_to 'Destroy', lancamento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />