<h1>Nova conta</h1>

<% form_for(@conta) do |f| %>
  <%= f.error_messages %>
  <table>
	<tr>
		<td><%= f.label :nome %></td>
		<td><%= f.text_field :nome %></td>
	</tr>
	<tr>
		<td><%= f.label :descricao %></td>
		<td><%= f.text_field :descricao %></td>
	</tr>
	<tr>
		<td><%= f.label :tipo_conta %></td>
		<td><%= select("conta", "tipo_conta_id", 
		@tipo_contas.collect {|t| [ t.nome, t.id ] }, {:prompt => 'Selecione...'}) %></td>
	</tr>
	<tr>
		<td><%= f.label :valor_inicial %></td>
		<td><%= f.text_field :valor_inicial %></td>
	</tr>
  </table>
  

  <p>
    <%= f.submit 'Cadastrar Conta' %>
  </p>
<% end %>

<%= link_to 'Voltar', contas_path %>