<h1>Listing tipo_lancamentos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descricao</th>
  </tr>

<% @tipo_lancamentos.each do |tipo_lancamento| %>
  <tr>
    <td><%=h tipo_lancamento.nome %></td>
    <td><%=h tipo_lancamento.descricao %></td>
    <td><%= link_to 'Show', tipo_lancamento %></td>
    <td><%= link_to 'Edit', edit_tipo_lancamento_path(tipo_lancamento) %></td>
    <td><%= link_to 'Destroy', tipo_lancamento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tipo_lancamento', new_tipo_lancamento_path %>